@import url("https://fonts.googleapis.com/css2?family=Epilogue:ital,wght@0,100..900;1,100..900&family=Jura:wght@300..700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Epilogue", sans-serif;
}
html {
  scroll-behavior: smooth;
}

header {
  background-color: #f6f6f6;
  width: 100%;
  height: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #000;
  position: fixed;
  top: 0;
  padding: 1.5rem 3rem;
  z-index: 999;
}

.logo h1 {
  font-size: 20px;
  font-weight: 600;
}

nav ul {
  list-style: none;
  display: flex;
  gap: 1rem;
}
a {
  text-decoration: none;
  color: #000;
  font-weight: 400;
}

a:hover,
a:focus {
  color: rgba(21, 118, 214, 1);
}
.list-icon {
  display: none;
}
.list-icon i {
  font-size: 2rem;
}

/* //////section 1 intro///////// */

.home {
  margin-top: 10vh;
  width: 100%;
  height: 90vh;
  padding: 2rem 4rem;
}
.home .container {
  width: 100%;
  height: 100%;
  display: flex;
}
.container .left,
.container .right {
  width: 50%;
  height: 100%;
}

.container .left {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
}

.left .content .job {
  font-weight: 600;
  font-size: 20px;
  padding-bottom: 2rem;
}
.left .content .identify {
  font-size: 4rem;
  font-weight: 600;
}

.container .right img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* ////////section 2 services/////////// */
.services {
  width: 100%;
  height: auto;
  padding: 9.25rem 8.75rem;
}
.service-container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-flow: row wrap;
  gap: 15px;
}
.service-box {
  width: calc((100% - 30px) / 3);
  height: 100%;
  display: flex;
  flex-flow: column;
}
.service-box .image {
  width: 100%;
  height: 50%;
}

.service-box .image img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.service-box .text {
  width: 100%;
  height: 50%;
  text-align: center;
  padding: 1rem;
}
.text h2,
.text p {
  padding: 1rem 0;
  color: rgba(45, 45, 45, 1);
}
.text h2 {
  font-weight: 600;
  font-size: 27px;
}
/* ////////section 3 projects/////////// */
.projects {
  width: 100%;
  height: auto;
  padding: 9.25rem 8.75rem;
}
.projects .projects-container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-flow: row wrap;
  gap: 15px;
}
.project-box {
  width: calc((100% - 30px) / 3);
  height: calc((100% - 15px) / 2);
  display: flex;
  flex-flow: column nowrap;
}
.project-box .image {
  width: 100%;
  height: 80%;
  padding-bottom: 2rem;
}
.project-box .image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.project-box .info {
  width: 100%;
  height: 20%;
  line-height: 2rem;
  color: rgba(45, 45, 45, 1);
}
.project-box .info h2 {
  font-weight: 600;
}
/* ////////////////////clients/////////// */
.clients {
  width: 100%;
  height: auto; /* 3'erha l auto */
  padding: 2rem 2rem;
}
.clients-container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-flow: row wrap;
  gap: 30px;
}
.client-box {
  width: calc((100% - 60px) / 3);
  height: 100%;
  display: flex;
  flex-flow: column nowrap;
  gap: 80px;
  justify-content: space-around;
  background-color: rgba(249, 253, 255, 1);
  border: 1.5px solid rgba(21, 118, 214, 1);
}

.client-box .upper {
  width: 100%;
  height: 70%;
  font-size: 1.5rem;
  padding: 2rem 1rem 0;
  font-weight: 600;
}
.client-box .lower {
  width: 100%;
  height: 30%;
  display: flex;
  gap: 15px;
}
.lower .left-image {
  width: 15%;
  height: 100%;
  padding-left: 10px;
}
.lower .left-image img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  border-radius: 50%;
}
.lower .right-info {
  width: 85%;
  height: 100%;
  text-align: center;
  display: flex;
  flex-flow: column;
  align-items: flex-start;
}
/* /////////section 5 contact//////// */

.contact {
  width: 100%;
  height: auto;
  padding: 9.25rem 8.75rem;
}
.contact-container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-flow: row wrap;
  gap: 30px;
}
.contact-left,
.contact-right {
  width: calc((100% - 30px) / 2);
  height: 100%;

  color: rgba(45, 45, 45, 1);
}
.contact-left .message {
  width: 70%;
  height: 50%;
}
.message h2 {
  font-weight: 600;
  font-size: 32px;
  padding-bottom: 2rem;
}
.message p {
  line-height: 27px;
}
.social i {
  font-size: 1.5rem;
  padding-top: 2rem;
  padding-right: 0.5rem;
}
.form-group {
  margin-bottom: 1rem;
}
input,
textarea {
  width: 100%;
  height: 40px;
  padding: 10px;
  font-size: 1rem;
  color: rgba(45, 45, 45, 1);
  background-color: #f1f1f1;
  border: 1px solid #fffefe;
}
textarea {
  height: 150px;
}
.submit {
  padding-top: 1rem;
}
.submit a {
  background-color: rgba(45, 45, 45, 0.886);
  padding: 1rem 2rem;
  color: #fff;
}
.submit a:hover,
.submit a:focus {
  background-color: rgb(45, 45, 45);
}

/* /////////////////////////////////////////////////// */
/* tablet */
@media (max-width: 992px) {
  .home {
    padding: 1rem 1rem;
  }
  .left .content .identify {
    font-size: 3.5rem;
  }
  /* services */
  .services {
    padding: 7.25rem 6.75rem;
  }
  .service-box .text {
    padding: 0;
  }
  .services .text h2,
  .services .text p {
    padding: 0.5rem 0;
  }
  /* client */
  .clients-container {
    gap: 5px;
  }
  .client-box {
    width: calc((100% - 15px) / 3);
  }
}

/* mobile */
@media (max-width: 768px) {
  .list-icon {
    display: block;
  }
  nav {
    display: none;
  }
  /* services */
  .container {
    flex-direction: column;
    align-items: center;
  }

  .container .left,
  .container .right {
    width: 70%;
    height: 50%;
  }
  .left .content .job {
    font-size: 0.9rem;
  }
  .left .content .identify {
    font-size: 3rem;
  }
  .container .right img {
    object-fit: cover;
  }
  /* services */
  .service-box {
    width: calc((100% - 15px) / 2);
    height: 100%;
    display: flex;
    flex-flow: column;
  }
  /* project */
  .projects .projects-container {
    padding: 0;
  }
  .project-box {
    width: calc((100% - 15px) / 2);
    height: calc((100% - 30px) / 3);
  }
  /* client */
  .clients-container {
    gap: 30px;
  }
  .client-box {
    width: calc((100% - 30px) / 2);
  }
  /* contact */
  .contact-container {
    flex-direction: column;
  }
  .contact-left,
  .contact-right {
    width: 100%;
  }
  .contact-left .message {
    width: 100%;
    height: 50%;
  }
}

/* Extra Small (xs) */
@media (max-width: 576px) {
  /* services */
  .services {
    padding: 7.25rem 6.75rem;
  }
  .service-box {
    width: 100%;
    height: 100%;
    display: flex;
    flex-flow: column;
  }
  /* project */
  .projects .projects-container {
    padding: 0;
  }
  .project-box {
    width: 100%;
    height: calc((100% - 90px) / 6);
  }
  /* client */
  .client-box {
    width: 100%;
  }
}
/* /////////////////////////////////////////////////// */
